.signup-form {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    border: forestgreen solid 2px;
    border-radius: 10px;
    padding: 50px;
}

.signup-form button {
    margin: 10px;
}
